@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --maincolor: #cc9227;
    --white: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global style */

body{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

section{
    width: 100%;
    height: 100vh;
    padding-bottom: 1rem;
}

.section-header{
    margin: 80px 0;
}

.section-header .section-title,.section-header .text{
    text-align: center;
    color: #fff;
    margin: 15px 0;
}

.section-title span{
    color: var(--maincolor);
}

img{
    width: 100%;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{ 
    border-radius: 20px;
    background-color: var(--maincolor);
}
/* end global style  */


/* Nav bar  */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    position: fixed;
    padding: 5px;
    z-index: 100;
}

nav a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
    transition: 0.3s;
}

nav a:hover{
    color: var(--maincolor);
}
nav .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 7rem;
}

.logo img{
    border-radius: 50%;
}

.nav-links ul{
    list-style: none;
    display: flex;
}

.nav-links .nav-link{
    color: var(--white);
    transition: 0.3s;
    position: relative;
}

.nav-links .nav-link::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--maincolor);
    transition: 0.5s;
}

.nav-links .nav-link:hover::after{
    width: 100%;
}

.nav-link:hover{
    color: var(--maincolor);
}
.nav-menu li{
    padding: 10px 20px;
}

.nav-menu .active{
    padding: 10px 30px;
    border: 2px solid var(--maincolor);
    border-radius: 40px;
    color: var(--maincolor);
    transition: 0.3s;
}

.nav-menu .active:hover{
    background-color: var(--maincolor);
    color: var(--white);
}

.hamburger{
    width: 30px;
    margin: 10px;
    display: none;
    position: relative;
}

.hamburger .bar{
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    z-index: 100;
}

.hamburger .bar:nth-child(2){
    top:0.5rem;
}

.hamburger .bar:nth-child(3){
    top:1rem;
}
/* End nav bar  */


/* Home section  */

.section-1{
    width: 100%;
    min-height: 100vh;
    background: url('../img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.section-1 .header-box{
    width: 600px;
    height: 100%;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header-box .header-content{
    margin-top: 10rem;
}

.header-content .header-title{
    height:100%;
}

.header-title h3{
    font-size: 3rem;
    font-weight: 500;
    padding:10px;
    color: var(--maincolor);
    font-family: 'Lobster', cursive;

}

.header-title .text{
    padding: 0 10px;
    color: var(--white);
    font-size: 1.1rem;
    letter-spacing:1.5px;
}

.header-button button{
    padding: 10px 30px;
    border-radius: 30px;
    margin: 20px 10px;
    border: 2px solid var(--maincolor);
    background-color: transparent;
    transition: 0.3s;
}

.header-button a{
    text-decoration:none;
    color: var(--maincolor);
    transition: 0.3s;
    font-size: 1.2rem;
}

.header-button button:hover{
    background-color: var(--maincolor);
}

.header-button button:hover a{
    color: var(--white);
}

.header-card{
    width: 100%;
    height: 100%;
    display: flex;
}

.header-card .man-card{
    width: 180px;
    height: 150px;
    margin: 10px;
    border: 2px solid var(--maincolor);
    overflow: hidden;
    position: relative;
}

.man-card img{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: grayscale(100%);
	transition: 0.5s all;
}

.man-card img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}
/* Home end section */


/* Menu section  */

.section-2{
    overflow: hidden;
    color: #000;
    height: 100%;
}

.section-2 .menu-box{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.section-2 .menu-card{
    width: 350px;
    height: 500px;
    margin: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section-2 .menu-card .menu-img{
    width: 100%;
    height: 50%;
    background-color: red;
    overflow: hidden;
}

.section-2 .menu-card .menu-img img{
    width: 100%;
    height: 100%;
    transition: 0.5s all;
}

.section-2 .menu-card .menu-img:hover img{
    transform: scale(1.2);
}

.section-2 .card-body{
    margin: auto;
    text-align: center;
}

.section-2 .card-body .card-title{
    font-size: 1.7rem;
    font-weight: 900;
    text-align: center;
    color: var(--maincolor);
}

.section-2 .card-body del{
    font-size: 0.9rem;
}

.section-2 .card-body .discount{
    padding: 2px 15px;
    background-color: var(--maincolor);
    font-size: 1.2rem;
    position: relative;
}

.section-2 .card-body .discount::after{
    content: '';
    position: absolute;
    top: 19px;
    left: 25px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: var(--maincolor);
}

.section-2 .menu-card .button{
    display: block;
    width: 150px;
    margin: auto;
    padding: 10px 0;
    border-radius: 30px;
    background-color: rgba(204, 146, 39, 0.9);
    text-align: center;
    font-size: 1.1rem;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

.section-2 .menu-card .button:hover{
    width: 170px;
    letter-spacing: 1.5px;
    background-color: var(--maincolor);
}
.section-2 .card-body i{
    color: var(--maincolor);
    margin: 20px 0;
}

/* End Menu section */


/* Product section */

.section-3{
    overflow: hidden;
    height: 100%;
    color: #000;
    padding-bottom: 5rem;
}

.section-3 .product-box-one{
    width: 100%;
    display: flex;
}

.section-3 .product-box-two{
    width: 100%;
    display: flex;
    margin: 30px 0;
}

.section-3 .product-card{
    position: relative;
    width: 280px;
    height: 420px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.section-3 .product-card:hover{
    background-color: rgba(255, 255, 255, 0.9);
}

.section-3 .product-card .circle{
    position: absolute;
    top: -1px;
    left: -1px;
    width: 70px;
    height: 70px;
    clip-path: circle(100% at 0 0);
    background-color: var(--maincolor);
    overflow: hidden;
    transition: 0.3s all;
}

.section-3 .product-card:hover .circle{
    width: 80px;
    height: 80px;
}
.section-3 .product-card .circle span{
    font-size: 1.1rem;
    line-height: 4rem;
    display: inline-block;
    transform: rotate(-45deg);
    transition: 0.3s all;
}

.section-3 .product-card:hover .circle span{
    font-size: 1.2rem;
}
.section-3 .product-card img{
    width: 120px;
    height: 150px;
    margin: 30px 0;
    position: relative;
}

.section-3 .pro-view{
    padding: 10px 20px;
    margin: 0 0 20px 0;
    border: none;
    background-color: var(--maincolor);
    border-radius: 30px;
}

.section-3 .pro-view .view-btn{
    color: #000;
    text-decoration: none;
}

.section-3 .pro-view:hover{
    background-color: #e8a832;
}
/*End Product section */

/* about section */

.section-4{
    overflow: hidden;
    height: 100%;
    color: #000;
	background: rgba(0,0,0,0.2) url('../img/bg4.jpg');
	background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 5rem;
}

.counter-up{
    margin-top: -30px;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
  }


  .counter-up .content{
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .counter-up .content .box{
    border: 1px dashed var(--maincolor);
    width: calc(20% - 30px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
  }

  .content .box .icon{
    font-size: 40px;
    color: #e6e6e6;
  }

  .content .box .counter{
    font-size: 30px;
    font-weight: 500;
    color: #f2f2f2;
    font-family: sans-serif;
  }

  .content .box .text{
    font-weight: 400;
    color: #ccc;
  }


/*End about section */


/* Contact Us section  */

.section-5{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contact-box{
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    margin: auto;
}

.contact-box .left iframe{
    width: 100%;
    height: 550px;
}

.contact-box .right{
	padding: 25px 40px;
}

.contact-box .right h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    color: #000;
}

.contact-box .right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--maincolor);
}

.contact-box .right .field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.contact-box .right .field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.contact-box .right textarea{
	min-height: 150px;
}

.contact-box .right .btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--maincolor);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.contact-box .right .btn:hover{
    background-color: #e8a832;
}

.contact-box .right .field:focus{
    border: 2px solid rgba(0, 0, 0, 0.47);
    background-color: #fff;
}


/* End Contact Us section  */

/* Footer section  */

footer {
    width: 100%;
}

.footer-distributed {
    background-color: #2d2a30;
    width: 100%;
    text-align: left;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


/* Footer left */


.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: var(--maincolor);
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */


.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: var(--maincolor);
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: var(--maincolor);
}

.footer-links a:hover {
    color: var(--maincolor);
}


/* End footer section  */



/* Modal section */

.modal{
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    border-radius: 30px;
    background-color: var(--maincolor);
}

.modal .modal-header .modal-title{
    font-weight: 900;
    font-size: 1.5rem;
    color: #000;
}

.modal .modal-body .form{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.modal-body .form .input-box{
    margin: 15px 0;
}

.modal-body .form .input-box input{
    width: 100%;
    padding: 8px 10px;
    background-color: transparent;
    font-size: 1.1rem;
    outline: none;
    border: none;
    color: #000;
    border-bottom: 2px solid #000;
}

::-webkit-input-placeholder{
    color: #000;
}

.modal .modal-body .form .btn{
    width: 100px;
    margin: 15px 0 0;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 30px;
    color: #000;
}

.modal .modal-body .form-problem{
    width: 150px;
    margin: 0 10px;
}

.modal .modal-body .form-problem a{
    color: #000;
}
/*End Modal section */
